## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"],1)
application_df.head()

/var/folders/6c/qgxdx_5970j5g3kfngnfbp0w0000gn/T/ipykernel_21607/294987159.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN","NAME"],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13', 'T12','T2','T14','T25','T15','T29','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
Other     1492
T5        1173
T19       1065
T8         737
T7         725
T10        528
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
classcount = application_df["CLASSIFICATION"].value_counts()
classcount

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [71]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classcount[classcount < 750].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [61]:
# Convert categorical data to numeric with `pd.get_dummies`
application_type = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
print(application_type)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [76]:
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [78]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [79]:
x = application_df.drop('IS_SUCCESSFUL', axis=1).values
x

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [90]:
# Split the preprocessed data into a training and testing dataset
X_train, x_test, y_train, y_test = train_test_split(x, y, random_state=78)

In [91]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [92]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len (X_train_scaled[0])
hidden_nodes_layer1=90
hidden_nodes_layer2=50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 90)                3960

 dense_4 (Dense)             (None, 50)                4550

 dense_5 (Dense)             (None, 1)                 51

=================================================================
Total params: 8,561
Trainable params: 8,561
Non-trainable params: 0
_________________________________________________________________

In [93]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [94]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100

2022-12-20 19:22:21.059297: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

684/684 [==============================] - 1s 561us/step - loss: 0.5698 - accuracy: 0.7231 - val_loss: 0.5674 - val_accuracy: 0.7183
Epoch 2/100
684/684 [==============================] - 0s 453us/step - loss: 0.5549 - accuracy: 0.7334 - val_loss: 0.5679 - val_accuracy: 0.7173
Epoch 3/100
684/684 [==============================] - 0s 454us/step - loss: 0.5514 - accuracy: 0.7315 - val_loss: 0.5605 - val_accuracy: 0.7139
Epoch 4/100
684/684 [==============================] - 0s 442us/step - loss: 0.5497 - accuracy: 0.7334 - val_loss: 0.5641 - val_accuracy: 0.7209
Epoch 5/100
684/684 [==============================] - 0s 436us/step - loss: 0.5481 - accuracy: 0.7334 - val_loss: 0.5608 - val_accuracy: 0.7240
Epoch 6/100
684/684 [==============================] - 0s 437us/step - loss: 0.5476 - accuracy: 0.7351 - val_loss: 0.5584 - val_accuracy: 0.7232
Epoch 7/100
684/684 [==============================] - 0s 440us/step - loss: 0.5469 - accuracy: 0.7357 - val_loss: 0.5581 - val_accuracy: 0.7212
Epoch 8/100
684/684 [==============================] - 0s 435us/step - loss: 0.5456 - accuracy: 0.7351 - val_loss: 0.5581 - val_accuracy: 0.7230
Epoch 9/100
684/684 [==============================] - 0s 439us/step - loss: 0.5444 - accuracy: 0.7356 - val_loss: 0.5594 - val_accuracy: 0.7245
Epoch 10/100
684/684 [==============================] - 0s 436us/step - loss: 0.5445 - accuracy: 0.7362 - val_loss: 0.5576 - val_accuracy: 0.7222
Epoch 11/100
684/684 [==============================] - 0s 443us/step - loss: 0.5442 - accuracy: 0.7370 - val_loss: 0.5591 - val_accuracy: 0.7230
Epoch 12/100
684/684 [==============================] - 0s 439us/step - loss: 0.5437 - accuracy: 0.7378 - val_loss: 0.5576 - val_accuracy: 0.7209
Epoch 13/100
684/684 [==============================] - 0s 438us/step - loss: 0.5428 - accuracy: 0.7372 - val_loss: 0.5582 - val_accuracy: 0.7240
Epoch 14/100
684/684 [==============================] - 0s 440us/step - loss: 0.5427 - accuracy: 0.7386 - val_loss: 0.5568 - val_accuracy: 0.7222
Epoch 15/100
684/684 [==============================] - 0s 435us/step - loss: 0.5423 - accuracy: 0.7374 - val_loss: 0.5579 - val_accuracy: 0.7217
Epoch 16/100
684/684 [==============================] - 0s 437us/step - loss: 0.5421 - accuracy: 0.7377 - val_loss: 0.5590 - val_accuracy: 0.7230
Epoch 17/100
684/684 [==============================] - 0s 440us/step - loss: 0.5419 - accuracy: 0.7388 - val_loss: 0.5591 - val_accuracy: 0.7227
Epoch 18/100
684/684 [==============================] - 0s 444us/step - loss: 0.5407 - accuracy: 0.7389 - val_loss: 0.5606 - val_accuracy: 0.7207
Epoch 19/100
684/684 [==============================] - 0s 440us/step - loss: 0.5411 - accuracy: 0.7382 - val_loss: 0.5582 - val_accuracy: 0.7212
Epoch 20/100
684/684 [==============================] - 0s 436us/step - loss: 0.5407 - accuracy: 0.7384 - val_loss: 0.5580 - val_accuracy: 0.7248
Epoch 21/100
684/684 [==============================] - 0s 435us/step - loss: 0.5399 - accuracy: 0.7389 - val_loss: 0.5574 - val_accuracy: 0.7207
Epoch 22/100
684/684 [==============================] - 0s 470us/step - loss: 0.5399 - accuracy: 0.7399 - val_loss: 0.5564 - val_accuracy: 0.7219
Epoch 23/100
684/684 [==============================] - 0s 467us/step - loss: 0.5398 - accuracy: 0.7386 - val_loss: 0.5587 - val_accuracy: 0.7199
Epoch 24/100
684/684 [==============================] - 1s 803us/step - loss: 0.5394 - accuracy: 0.7390 - val_loss: 0.5604 - val_accuracy: 0.7217
Epoch 25/100
684/684 [==============================] - 0s 519us/step - loss: 0.5388 - accuracy: 0.7398 - val_loss: 0.5624 - val_accuracy: 0.7178
Epoch 26/100
684/684 [==============================] - 0s 460us/step - loss: 0.5388 - accuracy: 0.7393 - val_loss: 0.5605 - val_accuracy: 0.7196
Epoch 27/100
684/684 [==============================] - 0s 421us/step - loss: 0.5387 - accuracy: 0.7410 - val_loss: 0.5622 - val_accuracy: 0.7227
Epoch 28/100
684/684 [==============================] - 0s 439us/step - loss: 0.5383 - accuracy: 0.7402 - val_loss: 0.5615 - val_accuracy: 0.7219
Epoch 29/100
684/684 [==============================] - 0s 476us/step - loss: 0.5380 - accuracy: 0.7407 - val_loss: 0.5589 - val_accuracy: 0.7191
Epoch 30/100
684/684 [==============================] - 0s 447us/step - loss: 0.5380 - accuracy: 0.7409 - val_loss: 0.5592 - val_accuracy: 0.7201
Epoch 31/100
684/684 [==============================] - 0s 425us/step - loss: 0.5375 - accuracy: 0.7389 - val_loss: 0.5623 - val_accuracy: 0.7201
Epoch 32/100
684/684 [==============================] - 0s 421us/step - loss: 0.5373 - accuracy: 0.7414 - val_loss: 0.5589 - val_accuracy: 0.7175
Epoch 33/100
684/684 [==============================] - 0s 440us/step - loss: 0.5369 - accuracy: 0.7411 - val_loss: 0.5583 - val_accuracy: 0.7204
Epoch 34/100
684/684 [==============================] - 0s 420us/step - loss: 0.5367 - accuracy: 0.7413 - val_loss: 0.5610 - val_accuracy: 0.7194
Epoch 35/100
684/684 [==============================] - 0s 427us/step - loss: 0.5372 - accuracy: 0.7413 - val_loss: 0.5647 - val_accuracy: 0.7212
Epoch 36/100
684/684 [==============================] - 0s 424us/step - loss: 0.5370 - accuracy: 0.7406 - val_loss: 0.5640 - val_accuracy: 0.7222
Epoch 37/100
684/684 [==============================] - 0s 422us/step - loss: 0.5365 - accuracy: 0.7409 - val_loss: 0.5620 - val_accuracy: 0.7207
Epoch 38/100
684/684 [==============================] - 0s 483us/step - loss: 0.5368 - accuracy: 0.7410 - val_loss: 0.5637 - val_accuracy: 0.7175
Epoch 39/100
684/684 [==============================] - 0s 445us/step - loss: 0.5363 - accuracy: 0.7409 - val_loss: 0.5639 - val_accuracy: 0.7173
Epoch 40/100
684/684 [==============================] - 0s 420us/step - loss: 0.5358 - accuracy: 0.7418 - val_loss: 0.5648 - val_accuracy: 0.7191
Epoch 41/100
684/684 [==============================] - 0s 423us/step - loss: 0.5365 - accuracy: 0.7419 - val_loss: 0.5624 - val_accuracy: 0.7196
Epoch 42/100
684/684 [==============================] - 0s 419us/step - loss: 0.5361 - accuracy: 0.7424 - val_loss: 0.5647 - val_accuracy: 0.7214
Epoch 43/100
684/684 [==============================] - 0s 425us/step - loss: 0.5358 - accuracy: 0.7419 - val_loss: 0.5626 - val_accuracy: 0.7194
Epoch 44/100
684/684 [==============================] - 0s 427us/step - loss: 0.5357 - accuracy: 0.7420 - val_loss: 0.5612 - val_accuracy: 0.7199
Epoch 45/100
684/684 [==============================] - 0s 445us/step - loss: 0.5353 - accuracy: 0.7413 - val_loss: 0.5625 - val_accuracy: 0.7207
Epoch 46/100
684/684 [==============================] - 0s 535us/step - loss: 0.5354 - accuracy: 0.7420 - val_loss: 0.5649 - val_accuracy: 0.7217
Epoch 47/100
684/684 [==============================] - 0s 472us/step - loss: 0.5352 - accuracy: 0.7432 - val_loss: 0.5652 - val_accuracy: 0.7186
Epoch 48/100
684/684 [==============================] - 0s 682us/step - loss: 0.5353 - accuracy: 0.7426 - val_loss: 0.5632 - val_accuracy: 0.7207
Epoch 49/100
684/684 [==============================] - 0s 593us/step - loss: 0.5352 - accuracy: 0.7413 - val_loss: 0.5603 - val_accuracy: 0.7214
Epoch 50/100
684/684 [==============================] - 0s 486us/step - loss: 0.5349 - accuracy: 0.7432 - val_loss: 0.5625 - val_accuracy: 0.7225
Epoch 51/100
684/684 [==============================] - 0s 445us/step - loss: 0.5352 - accuracy: 0.7406 - val_loss: 0.5645 - val_accuracy: 0.7207
Epoch 52/100
684/684 [==============================] - 0s 430us/step - loss: 0.5348 - accuracy: 0.7434 - val_loss: 0.5638 - val_accuracy: 0.7227
Epoch 53/100
684/684 [==============================] - 0s 481us/step - loss: 0.5345 - accuracy: 0.7428 - val_loss: 0.5670 - val_accuracy: 0.7227
Epoch 54/100
684/684 [==============================] - 0s 452us/step - loss: 0.5349 - accuracy: 0.7426 - val_loss: 0.5656 - val_accuracy: 0.7199
Epoch 55/100
684/684 [==============================] - 0s 438us/step - loss: 0.5346 - accuracy: 0.7426 - val_loss: 0.5635 - val_accuracy: 0.7227
Epoch 56/100
684/684 [==============================] - 0s 433us/step - loss: 0.5344 - accuracy: 0.7421 - val_loss: 0.5661 - val_accuracy: 0.7209
Epoch 57/100

684/684 [==============================] - 0s 564us/step - loss: 0.5342 - accuracy: 0.7430 - val_loss: 0.5664 - val_accuracy: 0.7194
Epoch 58/100
684/684 [==============================] - 0s 516us/step - loss: 0.5342 - accuracy: 0.7424 - val_loss: 0.5633 - val_accuracy: 0.7207
Epoch 59/100
684/684 [==============================] - 0s 651us/step - loss: 0.5341 - accuracy: 0.7426 - val_loss: 0.5703 - val_accuracy: 0.7214
Epoch 60/100
684/684 [==============================] - 0s 633us/step - loss: 0.5342 - accuracy: 0.7429 - val_loss: 0.5639 - val_accuracy: 0.7235
Epoch 61/100
684/684 [==============================] - 0s 547us/step - loss: 0.5337 - accuracy: 0.7432 - val_loss: 0.5753 - val_accuracy: 0.7212
Epoch 62/100
684/684 [==============================] - 0s 481us/step - loss: 0.5347 - accuracy: 0.7424 - val_loss: 0.5657 - val_accuracy: 0.7238
Epoch 63/100
684/684 [==============================] - 0s 464us/step - loss: 0.5334 - accuracy: 0.7425 - val_loss: 0.5787 - val_accuracy: 0.7217
Epoch 64/100
684/684 [==============================] - 0s 498us/step - loss: 0.5340 - accuracy: 0.7428 - val_loss: 0.5700 - val_accuracy: 0.7214
Epoch 65/100
684/684 [==============================] - 0s 446us/step - loss: 0.5338 - accuracy: 0.7432 - val_loss: 0.5665 - val_accuracy: 0.7219
Epoch 66/100
684/684 [==============================] - 0s 448us/step - loss: 0.5336 - accuracy: 0.7431 - val_loss: 0.5653 - val_accuracy: 0.7225
Epoch 67/100
684/684 [==============================] - 0s 437us/step - loss: 0.5337 - accuracy: 0.7429 - val_loss: 0.5673 - val_accuracy: 0.7225
Epoch 68/100
684/684 [==============================] - 0s 472us/step - loss: 0.5336 - accuracy: 0.7424 - val_loss: 0.5661 - val_accuracy: 0.7212
Epoch 69/100
684/684 [==============================] - 0s 477us/step - loss: 0.5335 - accuracy: 0.7426 - val_loss: 0.5636 - val_accuracy: 0.7230
Epoch 70/100
684/684 [==============================] - 0s 451us/step - loss: 0.5327 - accuracy: 0.7437 - val_loss: 0.5710 - val_accuracy: 0.7212
Epoch 71/100
684/684 [==============================] - 1s 790us/step - loss: 0.5332 - accuracy: 0.7428 - val_loss: 0.5678 - val_accuracy: 0.7222
Epoch 72/100
684/684 [==============================] - 0s 531us/step - loss: 0.5328 - accuracy: 0.7429 - val_loss: 0.5691 - val_accuracy: 0.7227
Epoch 73/100
684/684 [==============================] - 0s 555us/step - loss: 0.5329 - accuracy: 0.7430 - val_loss: 0.5689 - val_accuracy: 0.7225
Epoch 74/100
684/684 [==============================] - 1s 874us/step - loss: 0.5328 - accuracy: 0.7419 - val_loss: 0.5702 - val_accuracy: 0.7243
Epoch 75/100
684/684 [==============================] - 0s 677us/step - loss: 0.5331 - accuracy: 0.7426 - val_loss: 0.5695 - val_accuracy: 0.7212
Epoch 76/100
684/684 [==============================] - 0s 467us/step - loss: 0.5331 - accuracy: 0.7420 - val_loss: 0.5622 - val_accuracy: 0.7243
Epoch 77/100
684/684 [==============================] - 0s 440us/step - loss: 0.5331 - accuracy: 0.7430 - val_loss: 0.5662 - val_accuracy: 0.7225
Epoch 78/100
684/684 [==============================] - 0s 448us/step - loss: 0.5328 - accuracy: 0.7433 - val_loss: 0.5669 - val_accuracy: 0.7217
Epoch 79/100
684/684 [==============================] - 0s 454us/step - loss: 0.5330 - accuracy: 0.7435 - val_loss: 0.5687 - val_accuracy: 0.7227
Epoch 80/100
684/684 [==============================] - 0s 449us/step - loss: 0.5322 - accuracy: 0.7429 - val_loss: 0.5699 - val_accuracy: 0.7248
Epoch 81/100
684/684 [==============================] - 0s 443us/step - loss: 0.5326 - accuracy: 0.7431 - val_loss: 0.5701 - val_accuracy: 0.7230
Epoch 82/100
684/684 [==============================] - 0s 443us/step - loss: 0.5329 - accuracy: 0.7428 - val_loss: 0.5723 - val_accuracy: 0.7235
Epoch 83/100
684/684 [==============================] - 0s 442us/step - loss: 0.5325 - accuracy: 0.7435 - val_loss: 0.5692 - val_accuracy: 0.7212
Epoch 84/100
684/684 [==============================] - 0s 442us/step - loss: 0.5323 - accuracy: 0.7434 - val_loss: 0.5692 - val_accuracy: 0.7235
Epoch 85/100
684/684 [==============================] - 0s 442us/step - loss: 0.5322 - accuracy: 0.7429 - val_loss: 0.5669 - val_accuracy: 0.7227
Epoch 86/100
684/684 [==============================] - 0s 437us/step - loss: 0.5324 - accuracy: 0.7428 - val_loss: 0.5694 - val_accuracy: 0.7212
Epoch 87/100
684/684 [==============================] - 0s 426us/step - loss: 0.5323 - accuracy: 0.7436 - val_loss: 0.5769 - val_accuracy: 0.7214
Epoch 88/100
684/684 [==============================] - 0s 460us/step - loss: 0.5325 - accuracy: 0.7428 - val_loss: 0.5700 - val_accuracy: 0.7235
Epoch 89/100
684/684 [==============================] - 0s 439us/step - loss: 0.5326 - accuracy: 0.7427 - val_loss: 0.5697 - val_accuracy: 0.7222
Epoch 90/100
684/684 [==============================] - 0s 430us/step - loss: 0.5322 - accuracy: 0.7428 - val_loss: 0.5711 - val_accuracy: 0.7232
Epoch 91/100
684/684 [==============================] - 0s 447us/step - loss: 0.5317 - accuracy: 0.7442 - val_loss: 0.5730 - val_accuracy: 0.7222
Epoch 92/100
684/684 [==============================] - 0s 516us/step - loss: 0.5321 - accuracy: 0.7434 - val_loss: 0.5688 - val_accuracy: 0.7248
Epoch 93/100
684/684 [==============================] - 0s 480us/step - loss: 0.5320 - accuracy: 0.7430 - val_loss: 0.5729 - val_accuracy: 0.7214
Epoch 94/100
684/684 [==============================] - 0s 448us/step - loss: 0.5324 - accuracy: 0.7431 - val_loss: 0.5747 - val_accuracy: 0.7219
Epoch 95/100
684/684 [==============================] - 0s 450us/step - loss: 0.5317 - accuracy: 0.7434 - val_loss: 0.5764 - val_accuracy: 0.7209
Epoch 96/100
684/684 [==============================] - 0s 461us/step - loss: 0.5321 - accuracy: 0.7433 - val_loss: 0.5718 - val_accuracy: 0.7235
Epoch 97/100
684/684 [==============================] - 0s 472us/step - loss: 0.5322 - accuracy: 0.7432 - val_loss: 0.5766 - val_accuracy: 0.7240
Epoch 98/100
684/684 [==============================] - 0s 509us/step - loss: 0.5315 - accuracy: 0.7442 - val_loss: 0.5731 - val_accuracy: 0.7217
Epoch 99/100
684/684 [==============================] - 0s 467us/step - loss: 0.5318 - accuracy: 0.7434 - val_loss: 0.5727 - val_accuracy: 0.7217
Epoch 100/100
684/684 [==============================] - 0s 417us/step - loss: 0.5315 - accuracy: 0.7438 - val_loss: 0.5724 - val_accuracy: 0.7243

In [95]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7243 - 115ms/epoch - 428us/step
Loss: 0.5573990345001221, Accuracy: 0.7243148684501648

In [96]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")